---
export interface Props {
  title: string;
  date: string;
  hero: string;
  youtube: string;
  author: string;
}

const { title, date, hero, youtube, author } = Astro.props;
---

<article class="max-w-5xl mx-auto px-3">
  <header class="mx-auto max-w-3xl text-center content smaller">
    <h1>{title}</h1>
  </header>

  <!-- Image -->
  {hero && <img class="rounded-xl mx-auto" style="min-width: 80%;" loading="lazy" src={hero} alt={title} />}

  <!-- YouTube Video -->
  {youtube && <div class="embed-responsive aspect-ratio-16/9 mt-6 lg:mt-12">
    <iframe width="700" height="500" class="embed-responsive-item"
      src={`https://www.youtube.com/embed/${youtube}`} frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>
  </div>}

  <!-- Content -->
  <section class="max-w-3xl mx-auto py-6 lg:py-12 content">
    <slot />
     <!-- Author -->
    <div class="flex items-center" itemprop="author" itemtype="https://schema.org/Person" itemscope="">
      <figure><picture>
        <a href="https://www.linkedin.com/in/nikolabalic/" target="_blank"><img class="w-12 h-12 rounded-full mr-4" src="/images/nikola_avatar_128.jpeg" alt="Nikola Balić" loading="lazy" itemprop="image"></a>
      </picture></figure>
      <div class="text-sm">
        <p class="text-gray-900 leading-none">
        by <span itemprop="name" itemscope>{author}</span></p>  
        <time class="updated" datetime={date}></time>
        <p class="text-gray-600">updated: {date}</p>
      </div>
    </div>
  </section>

</article>