---
import Nav from '../components/Nav.astro';
import BaseHead from '../components/Head/BaseHead.astro';
import LetterFull from '../components/LetterFull.astro';
import EmailSignup from '../components/Subscribe/EmailSignup.astro';
import Footer from '../components/Footer/Footer.astro';

const {content} = Astro.props;
const {title, description, number, date, author} = content;
---
<html lang={ content.lang || 'en' }>
  <head>
    <BaseHead title={title} author={author} description={description} />
  </head>

  <body>
    <Nav />
    <main class="py-12 lg:py-20">
      <LetterFull title={title} number={number} date={date} author={author} >
        <slot />
      </LetterFull>
      <EmailSignup />
      <Footer />
    </main>
  </body>
</html>

