---
import Nav from '../components/Nav.astro';
import BaseHead from '../components/Head/BaseHead.astro';
import Letter from '../components/Letter.astro';
import EmailSignup from '../components/Subscribe/EmailSignup.astro'

const {content} = Astro.props;
const {title, description, date, hero, youtube, author} = content;
---
<html lang={ content.lang || 'en' }>
  <head>
    <BaseHead title={title} author={author} description={description} />
  </head>

  <body>
    <Nav />
    <main class="py-12 lg:py-20">
      <Letter title={title} date={date} author={author} >
        <slot />
      </Letter>
      <EmailSignup />
    </main>
  </body>
</html>

